/* line 1, scss/style.scss */
body {
  font-family: "Cabin", "PT Sans", Serif;
  background-color: #f6f6f6;
  overflow-x: hidden;
  color: #414141;
  font-size: 16px;
  position: relative;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* line 13, scss/style.scss */
::-webkit-scrollbar {
  background-color: #f6f6f6;
}

/* line 16, scss/style.scss */
::-webkit-scrollbar-button {
  background-color: #414141;
}

/* line 19, scss/style.scss */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* line 22, scss/style.scss */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

/* line 25, scss/style.scss */
::-webkit-scrollbar-thumb {
  background-color: #414141;
}

/* line 28, scss/style.scss */
h1, h2, h3, h4, h5, h6, p {
  line-height: 1.45;
}

/* line 31, scss/style.scss */
hr {
  background-color: #414141;
  height: 1px;
  width: 100%;
}

/* line 36, scss/style.scss */
.headroom {
  /*transition: all 200ms linear;*/
}

/* line 39, scss/style.scss */
.headroom--pinned {
  /*transform: translateY(0%);*/
}

/* line 43, scss/style.scss */
.headroom--unpinned, .headroom--unpinned ul {
  margin-top: -100%;
  /*transform: translateY(-100%);*/
}

/* line 47, scss/style.scss */
.btn, .form-control, .pagination > li > * {
  border-radius: 0px !important;
}

/* line 50, scss/style.scss */
input.form-control, textarea.form-control {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  outline: none;
  box-shadow: none;
}

/* line 56, scss/style.scss */
input.form-control:focus, textarea.form-control:focus {
  border-bottom: 1px solid #414141;
  outline: none;
  box-shadow: none;
}

/* line 61, scss/style.scss */
.input-group input {
  /*margin-top: 1px;*/
}

/* line 64, scss/style.scss */
.input-group-btn > .btn {
  border: 1px solid #e6e6e6;
  margin: 0px !important;
  margin-bottom: 1px;
}

/* line 69, scss/style.scss */
.input-group-btn > .btn:focus {
  border: 1px solid #414141;
  outline: none;
}

/* line 74, scss/style.scss */
.i {
  font-style: italic;
}

/* line 77, scss/style.scss */
.b {
  font-weight: 700;
}

/* line 80, scss/style.scss */
.u {
  text-decoration: underline;
}

/* line 83, scss/style.scss */
a {
  transition: all 0.2s;
}

/* line 86, scss/style.scss */
a:not(#homelinkheader):hover, a:not(#homelinkheader):focus, a:not(#homelinkheader):active {
  background-color: rgba(255, 213, 15, 0.7);
  /*#ffd50f;*/
  text-decoration: none;
}

/* line 91, scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
  text-align: left !important;
}

/* line 95, scss/style.scss */
h1 {
  font-size: 2.2em;
}

/* line 98, scss/style.scss */
h2 {
  font-size: 2em;
}

/* line 101, scss/style.scss */
h3 {
  font-size: 1.8em;
}

/* line 104, scss/style.scss */
h4 {
  font-size: 1.3em;
}

/* line 107, scss/style.scss */
h5 {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 111, scss/style.scss */
h6 {
  font-size: 1.1em;
  font-weight: bold;
}

/* line 115, scss/style.scss */
pre, code {
  border-radius: 0px;
  font-family: "Inconsolata", monospace;
  color: #e6e6e6;
  background-color: #313131;
  border: none;
}

/* line 122, scss/style.scss */
dl {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

/* line 127, scss/style.scss */
dd {
  margin-bottom: 5px;
}

/* line 130, scss/style.scss */
blockquote {
  font-size: 1em;
  border: none;
  padding: 20px;
  margin-bottom: 10px;
}

/* line 137, scss/style.scss */
.browsehappy {
  width: 100%;
  z-index: 19000;
  height: auto;
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px;
  background-color: #ffd50f;
}

/* line 146, scss/style.scss */
.container {
  padding: 0px;
}
/* line 148, scss/style.scss */
.container > .row {
  margin-top: 20px;
}
/* line 152, scss/style.scss */
.container > .row > div:last-child, .container .container > footer.row > div:last-child {
  padding-right: 0px;
}
/* line 155, scss/style.scss */
.container > footer {
  margin: 0px;
  margin-top: 20px;
  border-top: 1px solid #414141;
  font-size: 0.9em;
}
/* line 160, scss/style.scss */
.container > footer > div > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 167, scss/style.scss */
#header {
  height: 180px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 173, scss/style.scss */
#header a {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 179, scss/style.scss */
#subtitle {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Lora", serif;
  margin-bottom: 20px;
  margin-top: -15px;
  display: none;
}

/* line 188, scss/style.scss */
nav#nav {
  width: 100%;
  overflow: hidden;
  height: auto;
  z-index: 50;
}
/* line 193, scss/style.scss */
nav#nav > ul {
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 4;
}
/* line 203, scss/style.scss */
nav#nav ul li {
  display: inline-block;
}
/* line 206, scss/style.scss */
nav#nav ul li a {
  font-size: 0.9em;
  height: 30px;
  padding: 4px 10px 3px 10px;
  display: block;
  width: 100%;
  color: black;
}
/* line 214, scss/style.scss */
nav#nav ul li.current-menu-ancestor > a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid rgba(7, 135, 255, 0.2);
  transition: all 0.2s linear;
}
/* line 220, scss/style.scss */
nav#nav ul li a:hover, nav#nav nav#nav ul li a:focus, nav#nav nav#nav ul li a:active, nav#nav nav#nav ul li.current-menu-item > a {
  text-decoration: none;
  color: black;
}
/* line 224, scss/style.scss */
nav#nav ul li.current-menu-item > a {
  border-bottom: 1px solid #0787ff;
}

/* FALLBACK */
/* line 231, scss/style.scss */
html.no-js nav#nav ul li ul {
  display: none;
  z-index: 51;
  position: fixed;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  bottom: inherit;
}
/* line 241, scss/style.scss */
html.no-js nav#nav ul li.current-menu-ancestor > ul, html.no-js nav#nav ul li.current-menu-item > ul {
  display: block;
}
/* line 244, scss/style.scss */
html.no-js nav#nav ul li ul li {
  float: left;
}

/* POINT DEVICES */
/* line 251, scss/style.scss */
html.no-touch nav#nav ul li ul {
  display: none;
  z-index: 500;
  position: absolute;
  padding: 0px;
  min-width: 120px;
}
/* line 258, scss/style.scss */
html.no-touch nav#nav ul li:hover > ul {
  display: block;
}
/* line 261, scss/style.scss */
html.no-touch nav#nav ul li ul li {
  display: block;
  text-align: left;
}

/* TOUCH DEVICES */
/* line 269, scss/style.scss */
html.touch #header {
  margin-top: 150px;
  margin-bottom: 0px;
}
/* line 273, scss/style.scss */
html.touch nav#nav > ul {
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0px;
  width: 100%;
  border-bottom: 1px solid #414141;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.3);
}
/* line 283, scss/style.scss */
html.touch nav#nav ul li, html.touch nav#nav, html.touch nav#nav ul {
  overflow: visible;
}
/* line 286, scss/style.scss */
html.touch nav#nav ul li ul {
  text-align: center;
  display: none;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 59px;
  padding: 0px;
  width: 100%;
  border-bottom: 1px solid #414141;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.3);
}
/* line 298, scss/style.scss */
html.touch nav#nav ul li.current-menu-ancestor > ul, html.touch nav#nav ul li.current-menu-item > ul {
  display: block;
}
/* line 301, scss/style.scss */
html.touch nav#nav ul li ul li {
  display: inline-block;
  text-align: left;
}
/* line 305, scss/style.scss */
html.touch #breadcrumb {
  margin-top: 80px;
}

/* line 310, scss/style.scss */
#breadcrumb {
  display: block;
  position: relative;
  text-align: right;
  width: 100%;
  padding: 20px 45px 5px 45px;
}

/* line 317, scss/style.scss */
main.row .col-sm-2 {
  margin-top: 56px;
}
/* line 319, scss/style.scss */
main.row .col-sm-2 nav {
  overflow: hidden;
  width: 100%;
  display: block;
  height: auto;
}

/* line 326, scss/style.scss */
#toc {
  width: 100%;
  min-width: 150px;
  padding: 10px;
  height: auto;
  color: black;
  display: none;
  background: transparent;
  transition: opacity 0.2s linear, width 0.2s linear;
  opacity: 0.3;
  text-align: right;
  max-width: 300px;
  word-break: break-all;
}
/* line 339, scss/style.scss */
#toc:hover {
  opacity: 0.86;
}
/* line 342, scss/style.scss */
#toc.pinned {
  position: fixed;
  top: 35px;
  margin-top: 0px !important;
  z-index: 2;
}
/* line 348, scss/style.scss */
#toc.pinned #btt {
  opacity: 1;
  visibility: visible;
}
/* line 352, scss/style.scss */
#toc.pinned .tocnav {
  transition: max-height 0.15s ease-out, opacity 0.2s linear;
  opacity: 0;
  max-height: 0px;
}
/* line 357, scss/style.scss */
#toc.pinned:hover .tocnav {
  opacity: 1;
  max-height: 1000px;
}
/* line 361, scss/style.scss */
#toc #btt {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease-out;
}
/* line 366, scss/style.scss */
#toc a {
  padding: 1px 0px 0px 0px;
  display: block;
  min-width: 50%;
  height: auto;
  color: black;
}
/* line 373, scss/style.scss */
#toc a:hover, #toc a:active, #toc a:focus {
  background: transparent;
  color: #337ab7;
}
/* line 377, scss/style.scss */
#toc .nav .nav {
  margin-right: 30px;
  height: auto;
}
/* line 381, scss/style.scss */
#toc .nav a {
  height: auto;
}
/* line 384, scss/style.scss */
#toc .tocnav {
  margin-bottom: 15px;
}

/* line 388, scss/style.scss */
article {
  padding: 25px;
  font-size: 1em;
  text-align: left;
}
/* line 392, scss/style.scss */
article * {
  max-width: 100%;
}
/* line 395, scss/style.scss */
article div.wp-caption img {
  max-width: 100% !important;
  height: auto !important;
}

/* line 400, scss/style.scss */
section header {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 0px;
  overflow: hidden;
}
/* line 405, scss/style.scss */
section header > h1 {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #414141;
}
/* line 411, scss/style.scss */
section header > h3 {
  display: block;
  width: 100%;
  margin-top: 0px;
}

/* line 417, scss/style.scss */
article > header {
  margin-top: 25px;
  margin-bottom: 15px;
}

/* line 421, scss/style.scss */
body.search article article {
  border-bottom: 1px solid #414141;
}

/* line 425, scss/style.scss */
aside > div {
  padding: 15px;
}

/* line 428, scss/style.scss */
.contact .control-label {
  padding-top: 16px;
}

/* line 431, scss/style.scss */
.sidebar-widget {
  display: none;
}
/* line 433, scss/style.scss */
.sidebar-widget > div {
  margin-bottom: 20px;
}

/* Small devices (tablets, 600px and up) */
@media (min-width: 600px) {
  /* line 440, scss/style.scss */
  article {
    padding: 15px 0px 15px 15px;
  }

  /* line 443, scss/style.scss */
  .container {
    width: 600px;
  }
  /* line 445, scss/style.scss */
  .container > .row:not(footer) {
    margin-right: -15px;
  }
  /* line 448, scss/style.scss */
  .container > main.row > div:last-child, .container > footer.row > div:last-child {
    padding-right: 15px;
  }
  /* line 451, scss/style.scss */
  .container > footer {
    opacity: 0.5;
    transition: 0.2s all;
  }
  /* line 454, scss/style.scss */
  .container > footer:hover, .container > footer:focus {
    opacity: 1;
  }

  /* line 460, scss/style.scss */
  body.bottom #toc {
    opacity: 0;
  }
  /* line 463, scss/style.scss */
  body.bottom footer {
    opacity: 1;
  }

  /* line 467, scss/style.scss */
  #header {
    height: 188px;
    width: 600px;
    margin: 0 auto;
  }

  /* line 472, scss/style.scss */
  .sidebar-widget, .sidebar-widget > div {
    display: block;
    width: 100%;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  /* line 480, scss/style.scss */
  .container {
    width: 768px;
  }

  /* line 484, scss/style.scss */
  main.row.hastoc #toc {
    display: block;
  }
  /* line 487, scss/style.scss */
  main.row.hastoc .col-sm-2:last-child {
    display: none;
  }
  /* line 490, scss/style.scss */
  main.row.hastoc .col-sm-2:first-child {
    width: 33.33333333%;
  }
}
